<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HoltelDataEntryLib.Properties.Settings.DataEntryConnectionString"
            connectionString="Data Source=SHQDSPS1\ONCOMOSQL;Initial Catalog=DataEntry;Persist Security Info=True;User ID=dataentry;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
        <add name="HotelDataEntryLib.Properties.Settings.DataEntryConnectionString"
            connectionString="Data Source=SHQDSPS1\ONCOMOSQL;Initial Catalog=DataEntry;Persist Security Info=True;User ID=dataentry;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>