<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HoltelDataEntryLib.Properties.Settings.DataEntryConnectionString"
            connectionString="Data Source=61.90.202.67;Initial Catalog=DataEntry;Persist Security Info=True;User ID=sa;Password=sa@onyx#sqlsa10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>