<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HotelDataEntryLib.Properties.Settings.DataEntryConnectionString"
            connectionString="Data Source=10.1.201.141\ITSQL;Initial Catalog=HotelDataEntry;Persist Security Info=True;User ID=sa;Password=sa@onyx#sqlsa10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>